# Node modules
node_modules/

# Build output
dist/
.nuxt/
.output/

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Cloudflare
.wrangler/
.cloudflare/

# Supabase
supabase/.temp/

# Others
*.local 
wrangler.jsonc
wrangler.toml